<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>MicroServices offered by: Cesare Polonara</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    
    
    <div id="registration" >
      <div class="flex-row-space">
        <div >Register:</div><div id="close">X</div>
      </div>
      <input id="input-user-reg" type="text" placeholder="User" required/>
      <input id="input-email-reg" type="text" placeholder="Email" required/>
      <input id="input-password-reg" type="password" placeholder="Password" required/>
      <button id="register-btn">Register</button>
    </div>
      <div id="top-bar">
        <div id="login" class="credentials flex-row-space">
          <div class="flex-col form-container">
            <div class="flex-row">
            <input id="input-user-log" type="text" value="" placeholder="Username"  />
            <input id="input-password-log" type="password" value="" placeholder="Password"  />
            </div>
           
          <div class="flex-row">
            <button id="logIn-btn" class="submit">Log In</button>
            <button id="logOut-btn" class="submit">Log Out</button>   
            </div>
         
            
          </div>
          <div id="info-top-container flex-col">
             <div id="current-user"></div>
            <div id="register">Register</div>
          </div>
        </div>
      </div>
      
    <div class="microservice margin-top">
      <div id="shortenTitle" class="title">
      Shorten your URL:
        <div class="modal">You can use this Micro Service to minify an URL </div>
      </div>
      <input id="input-shorten" class="input" value="" placeholder="URL to shorten: es. www.google.com"  />
      <button id="submit-shorten" class="submit">Shorten your URL</button>
      <div id="result-shorten" class="result"></div>
    </div>
    <div class="microservice">
      <div id="whoamiTitle" class="title">
      Get your IP and Browser Info
        <div class="modal">You can use this Micro Service to see your current IP and browser info</div>
      </div>
      
      <button id="submit-whoami" class="submit">WHO AM I</button>
      <div id="result-whoami" class="result"></div>
    </div>
  
    <div class="microservice">
      <div id="uploadTitle" class="title">
      Get the size of a file
        <div class="modal">You can use this Micro Service to see the size of a file</div>
      </div>
    
      <input id="input-upload" type="file" value="Choose a File" name="upfile"/>
      <button id="submit-upload">
        Upload
      </button>
    
    <div id="result-upload" class="result"></div>
    </div>
    <div class="flex-row microservice">
      
    
    <div class="microservice">
      <div id="exTitle" class="title">
        Submit a user
        <div class="modal">You can use this Micro Service to see the size of a file</div>
      </div>
    
      <input id="input-ex-user" type="text"  placeholder="Username"/>
      <button id="submit-ex-user">
        Add User
      </button>
    
    <div id="result-ex-user" class="result"></div>
    </div>
       <div class="microservice">
      <div id="exAddTitle" class="title">
        Submit an Exercise
        <div class="modal">You can use this Micro Service to see the size of a file</div>
      </div>
    
      <input id="input-ex-id" type="text"  placeholder="User ID*"/>
      <input id="input-ex-desc" type="text"  placeholder="Description*"/>
      <input id="input-ex-dur" type="text"  placeholder="Duration*"/>
      <input id="input-ex-date" type="text"  placeholder="Date"/>
      <button id="submit-ex-add">
        Add Exercise
      </button>
    
    <div id="result-ex-add" class="result"></div>
    </div>
    </div>
    <h6>Services offered by Cesare Polonara
      <a href="mailto: cesare.polonara@gmail.com">Mail me</a></h6>
  </body>
</html>
