<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>MicroServices offered by: Cesare Polonara</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div id="shortenTitle">
      Shorten your URL:
      <div class="modal">You can use this Micro Service to minify an URL and hide its original URL</div>
    </div>
    <input id="input" value="" placeholder="URL to shorten: es. '(https://)www.glitch.com'"  />
    <button id="submit" >Shorten your URL</button>
    <div id="result">
      <div>
        A list of simple tools MicroServices offered by: Cesare Polonara
      </div>
    </div>
    
  </body>
</html>
