/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  background:white;
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border-radius: .25em;
  
}

button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  margin-bottom:25px;
}

 button:hover {
  background-color: lavender;
}

a{
  text-decoration: none;
  color: grey;
}
a:hover{
  color:black;
}
.flex-row{
  display:flex;
  
}

#register {
  
  cursor: pointer;
}
#registration {
  display:none;
   position:absolute;
  top:50vh;
  left:50vw;
  z-index:1;
}
.credentials{
  border: 1px solid black;
  padding:20px;
  margin-bottom:10px;
  border-radius:10px;
  box-shadow: 1px 1px 5px 1px grey;
 
  
}
.microservice {
  
  border: 1px solid black;
  padding:20px;
  margin-bottom:10px;
  border-radius:10px;
  box-shadow: 1px 1px 5px 1px grey;
}

.result{
  width:95%;
  height:50px;
  font-size:12px;
  border:1px solid grey;
  border-radius:.25em;
  padding:5px;
}
.modal{
  padding:10px;
  background:lavender;
  display:none;
  position:absolute;
   border: 2px solid currentColor;
  border-radius: .25em;
  padding: 0.25em 1em;
  max-width: 20ch;
  
}

.title {
  margin-bottom: 10px;
  
}
.title:hover > .modal{
  
  display:block;
}

.loading{
  background:grey;
  border: 2px solid black;
  border-radius:2px;
  height:10px;
  animation: loading 10s linear infinite;
  line-height: 50px;
}

@keyframes loading {
  
  from {width: 1px}
  to {width: 95%}
}